<div class="page-header">
	<h1>{{headline}}</h1>
</div>

<form accept-charset="{{charset}}" action="" method="POST">
	<p>
	Are you sure you want to remove {{count}} records??
	</p>
	
	<div class="well">
		{{#items}}
		<input type="hidden" name="ids[]" value="{{id}}" />
		{{/items}}
		<input type="hidden" name="token" value="{{#values}}{{token}}{{/values}}" />
		
		<button class="btn large success" name="action" type="submit" value="yes">Yes</button>
		<button class="btn large error" name="action" type="submit" value="no">No</button>
	</div>
</form>