<h1>{{headline}}</h1>

{{#create_button}}
<a class="btn primary large" href="{{url}}">{{text}}</a>
{{/create_button}}

{{#result}}
<table class="zebra-striped">
	<thead>
		<tr>
		{{#columns}}
		<th>{{name}}</th>
		{{/columns}}
		</tr>
	</thead>
	<tbody>	
		{{#rows}}
		<tr>
			{{#values}}
			<td>{{value}}</td>
			{{/values}}
			<td>
			{{#options}}
				<a class="{{class}}" href="{{url}}">{{text}}</a>
			{{/options}}
			</td>
		</tr>
		{{/rows}}
	</tbody>
</table>
{{/result}}

{{{pagination}}}