<h1>{{headline}}</h1>

{{#delete_button}}
<a class="btn primary large" href="{{url}}">{{text}}</a>
{{/delete_button}}
{{#update_button}}
<a class="btn primary large" href="{{url}}">{{text}}</a>
{{/update_button}}

